.navbar_container {
    position: sticky;
    top: 0;
    background-color: rgb(250, 249, 249);
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 7%;
}

.navbar_left {
    display: flex;
    align-items: center;
}

.navbar_left_logo{
    display: flex;
    align-items: center;
}

.navbar_left_logo>img{
    width: 45px;
    margin-right: 10px;
    cursor: pointer;
}

.navbar_left_logo>p{
    font-weight: 900;
}

.navbar_left_logo_blue{
    color: rgb(104, 104, 227);
}

.navbar_left_items{
    display: flex;
    padding: 0 20%;
}

.navbar_left_items>p{
    display: flex;
    padding: 0 10%;
    cursor: pointer;
}

.navbar_right{
    display: flex;
}

.navbar_right>button {
    cursor: pointer;
    background-color: rgb(104, 104, 227);
    color: whitesmoke;
    border: none;
    padding: 12px 25px;
    font-size: 14px;
    border-radius: 40px;
}

.navbar_right>p{
    padding-right: 35px;
    font-weight: bold;
    cursor: pointer;
}

/* @media screen and (max-width: 1050px) {
    .navbar_right>p {
        font-size: 12px;
    }

    .navbar_right>button {
        font-size: 10px;
        padding: 8px 8px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .navbar_right {
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .navbar{
        padding: 0;
    }

    .navbar_left>input{
        width: 70%;
    }
} */